[Desktop Entry]
Type=Application
Version=
Name=Clash for Windows
Comment=A Windows/macOS/Linux GUI based on Clash and Electron
Exec=
Icon=com.github.clash-for-windows-cn
Terminal=false
Keywords=clash
Categories=Network;Utility;